.progress {
    display: flex;
    height: 3rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    flex: 1;
}

.progress__bar {
    display: flex;
    justify-content: space-between;
    flex: 1;
    height: 10px;
    background-color: #dddfe6;
    border-radius: 20px;
}

.progress__circle {
    display: flex;
    height: 3rem;
    width: 3rem;
    transform: translateY(-37%);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: 5px solid azure;
    background-color: #bac3c7;
    color: azure;
}

.checked {
    background-color: #5647ad;
}

@media screen and (prefers-color-scheme: dark) {
    .progress__circle {
        background-color: #2c2c2c;
        border: 5px solid #202020;
        color: #202020;
    }
    .checked {
        background-color: #5647ad;
    }
    .progress__bar {
        background-color: #2c2c2c;
    }
}